# the first version of the project
previous/

# PyCharm project
.idea/

# local database
memory.db

# auxiliary text files and scripts
*.txt
load_EDUs.py

images/

# logs
log/

# compiled and confidential files
src/bot/__pycache__/
src/bot/bot_info.py